<ul class="list-group">
    {% for entity in entities %}
    <li class="list-group-item">
        <h4 class="list-group-item-title">{{entity.designation}}<br/><small>{{entity.poste.name}}</small></h4> {% if entity.salaire is not null %}
        <div>{{entity.salaire.montant}} FCFA et {{entity.salaire.duration}} Jours/mois</div>
        {% endif %}
        <div class="pull-right">
            <div class="btn btn-group">
                <small class="btn btn-primary btn-sm">{{entity.userEchelons|length}} Employés</small>
                <span class="dropdown-toggle btn btn-primary btn-sm btn-addon" data-toggle="dropdown"><i class="fa fa-list"></i></span>
                <ul class="dropdown-menu">
                    {% for echelon in entity.userEchelons %} {% if echelon.user is not null %}
                    <li><a href="{{path('core_carriere_one', {'id': echelon.user.id})}}">{{echelon.user.longname}}</a></li>
                    {% endif %} {% else %}
                    <li><a>Aucun employé</a></li>
                    {% endfor %}
                </ul>
            </div>
            <a href="{{path('core_setting_manage_update', {'id': entity.id, 'entity': 'echelon'})}}" class="btn btn-warning btn-sm"><i class="fa fa-edit"></i> Modifier</a>
            <a href="{{path('core_setting_delete', {'id': entity.id, 'type': 'echelon'})}}" data-confirm-message="Voulez-vous vraiment supprimer cette entité?" class="confirm btn btn-sm btn-danger"><i class="fa fa-remove"></i> Supprimer</a>
        </div>
        <div class="clearfix"></div>
    </li>
    {% endfor %}
</ul>