{% extends "MarketBundle:App:base.html.twig" %} 
{% block title %} Liste Commandes | {{ parent() }}{% endblock %} 
{% block main %}
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h2>Liste Commandes</h2>
            </div>
            <div class="col-lg-12">
                <form class="pull-right" method="GET" action='./'>
                    <div class="input-group">
                        <input class="form-control" value="{{s}}" type="search" placeholder="Reférence" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Rechercher</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th data-attribute="reference">Référence</th>
                                <th data-attribute="client">Client</th>
                                <th data-attribute="observation">Observation</th>
                                <th data-attribute="nombre">Nombre Produit</th>
                                <th data-attribute="total">Total</th>
                                <th data-attribute="date">Date</th>
                                <th data-attribute="actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for commande in commandes %}
                            <tr>
                                <td>{{commande.reference}}</td>
                                <td>{{commande.client.name}}</td>
                                <td>{{commande.observation}}</td>
                                <td>{{commande.numberProduct}}</td>
                                <td>{{commande.total}}</td>
                                <td>{{commande.date|date("d/m/Y")}}</td>
                                <td>
                                    <a href="{{path('market_commande', {id: commande.id})}}" class="btn btn-info" >Afficher</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12">
                {% if onset >= 0 %}
                <a href="./?offset={{onset}}" class="btn btn-info pull-left" >Précédent</a>
                {% endif %}
                {% if offset >= 0 %}
                <a href="./?offset={{offset}}" class="btn btn-info pull-right" >Suivant</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}