{% extends "MarketBundle:App:base.html.twig" %} 
{% block title %} Liste ventes | {{ parent() }}{% endblock %} 
{% block main %}
    <div class="col-lg-12">
        <div class="row">
            <div class="col-lg-12">
                <h2>Liste des Ventes</h2>
            </div>
            <div class="col-lg-12">
                <form class="pull-right" method="GET" action='./'>
                    <div class="input-group">
                        <input class="form-control datepicker" value="{{s}}" type="text" placeholder="Date" required />
                        <span class="input-group-btn">
                            <button class="btn btn-primary" type="submit">Rechercher</button>
                        </span>
                    </div>
                </form>
            </div>
            <div class="col-lg-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th data-attribute="reference">Total</th>
                                <th data-attribute="reference">Taxe</th>
                                <th data-attribute="total">Total TTC</th>
                                <th data-attribute="total">Reçu</th>
                                <th data-attribute="date">Date</th>
                                <th data-attribute="actions">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for sale in sales %}
                            <tr>
                                <td>{{sale.total}}</td>
                                <td>{{sale.taxe}}</td>
                                <td>{{sale.totalTTC}}</td>
                                <td>{{sale.receive}}</td>
                                <td>{{sale.date|date("d/m/Y")}}</td>
                                <td>
                                    <a href="{{path('market_sale', {id: sale.id})}}" class="btn btn-info" >Afficher</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-lg-12">
                {% if onset >= 0 %}
                <a href="./?offset={{onset}}" class="btn btn-info pull-left" >Précédent</a>
                {% endif %}
                {% if offset >= 0 %}
                <a href="./?offset={{offset}}" class="btn btn-info pull-right" >Suivant</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}