{% extends "base.html.twig" %}{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('assets/css/signin.css') }}" /> {% endblock stylesheets %} {% block title %}Connexion | {{ parent() }}{% endblock title %} {% block body %}

<form action="{{path('core_check')}}" method="post" class="form-signin">
    <div class="col-lg-12 text-center">
        <img src="{{ asset('assets/images/logo2.png') }}" alt="logo EPAB" />
    </div>
    <h3 class="text-center">Connexion</h3> {% if error %}
    <div class="alert alert-danger alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        <h4><i class="icon fa fa-ban"></i> Erreur!</h4> {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
    {% endif %}
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" placeholder="E-mail..." />
    </div>
    <div class="input-group">
        <span class="input-group-addon"><i class="fa fa-unlock-alt"></i></span>
        <input type="password" id="password" class="form-control" name="_password" required="required" placeholder="Mot de passe..." />
    </div>
    <div class="form-group">
        <input type="checkbox" id="remember_me" name="_remember_me" />
        <label for="remember_me">Se souvenir de moi</label>
    </div>
    <input type="hidden" name="auth" value="<?php echo $formUser->auth(); ?>" />
    <input type="submit" id="submit" class="btn btn-success bg-green btn-block" name="submit" value="Connexion" />
    <div class="row">
        <div class="col-lg-12">
            <p class="text-center"><small>Copyright &copy; 2016 EPAB<br/>Designed by Belinga Junior</small></p>
        </div>
    </div>
</form>
{% endblock body %}